*{
    margin: 0px;
    padding: 0px;
}

#A{
    background-color: red;
    width: 100vw;
    height: 10vh;
    text-align: center;
    
}
#C{
    background-color: aquamarine;
    width: 49vw;
    height: 90vw;
     margin-top: ;

}
#B{
  
    background-repeat: no-repeat;
    background-color: rgb(183, 228, 213);
    width: 50vw;
    height: 90vh;
    text-align: center;
 
    
}
input{
    width: 220px;
}
#B h2{
    margin-bottom : 10px;
}